{% extends 'base.html' %}
{% block title %}{% if post %}Edit {{ post.title }}{% else %}New blog post{% endif %} · {{ site.display_name }}{% endblock %}
{% block content %}
<h1>{% if post %}Edit blog post{% else %}New blog post{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Save post</button>
    <a class="btn btn-link" href="{% url 'content:manage' site.id %}">Cancel</a>
</form>
{% endblock %}
